name: Build Xygeni Visual Studio Extension

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025
    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get release version
        id: extract_version
        shell: powershell
        run: |
          $branchName = "${{ github.ref_name }}"          
          if ($branchName -match '^release\/(\d+\.\d+\.\d+)$') {
            $version = $matches[1]
            Write-Host "Building Version: $version"          
            echo "EXT_VERSION=$version" >> $env:GITHUB_ENV                      
            echo "version=$version" >> $env:GITHUB_OUTPUT
          }
          else {
            Write-Error "Branch name does not match expected format 'release/a.b.c'"
            exit 1
          }    

      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.config') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1
        with:
          vs-version: '[17.0, )'

      - name: Restore NuGet packages
        run: nuget restore ${{ inputs.solution-file-path }}

      - name: Build
        run: |
          msbuild ${{ inputs.solution-file-path }} /p:configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m
        shell: powershell

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ env.EXT_VERSION }}-build${{ github.run_number }}
          path: |
            **/bin
            **/obj